* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  width: 100svw;
  /* background-color: rgba(255, 152, 115, 0.39); */
  /* rgba(129, 248, 145, 0.3); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.banner {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px white;
}

.title-container {
  height: 80%;
}

.title {
  text-shadow: 0px 0px #2c3d36, 1px 1px white, -2px 2px white, -1px 1px #2c3d36, -2px 2px #2c3d36, -3px 3px #2c3d36, -4px 4px #2c3d36, -5px 5px #2c3d36, -6px 6px #2c3d36, -7px 7px #2c3d36, -8px 8px #2c3d36, -9px 9px #2c3d36, -10px 10px #2c3d36, -11px 11px #2c3d36, -12px 12px #2c3d36, -13px 13px #2c3d36, -14px 14px #2c3d36, -15px 15px #2c3d36, -16px 16px #2c3d36, -17px 17px #2c3d36, -18px 18px #2c3d36, -19px 19px #2c3d36, -20px 20px #2c3d36, -21px 21px #2c3d36, -22px 22px #2c3d36, -23px 23px #2c3d36, -24px 24px #2c3d36, -25px 25px #2c3d36, -26px 26px #2c3d36, -27px 27px #2c3d36, -28px 28px #2c3d36, -29px 29px #2c3d36, -30px 30px #2c3d36, -31px 31px #2c3d36, -32px 32px #2c3d36, -33px 33px #2c3d36, -34px 34px #2c3d36, -35px 35px #2c3d36, -36px 36px #2c3d36, -37px 37px #2c3d36, -38px 38px #2c3d36, -39px 39px #2c3d36, -40px 40px #2c3d36, -41px 41px #2c3d36, -42px 42px #2c3d36, -43px 43px #2c3d36, -44px 44px #2c3d36, -45px 45px #2c3d36, -46px 46px #2c3d36, -47px 47px #2c3d36, -48px 48px #2c3d36, -49px 49px #2c3d36, -50px 50px #2c3d36;
  text-align: left;
  overflow: hidden;
  height: 100%;
  line-height: 3rem;
  font-size: 3rem;
  font-family: Fredericka the great;
  margin: 0px auto;
  padding: 1rem 2rem 2rem 2rem;
  color: transparent;
}

.cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  width: 30rem;
  height: 60%;
  gap: 1rem;
}
@media only screen and (max-width: 680px) {
  .cat-container {
    min-width: 80%;
  }
}
@media only screen and (max-width: 481px) {
  .cat-container {
    min-width: 80%;
  }
}

.generator {
  width: 15rem;
  height: 3rem;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: rgba(137, 255, 214, 0.746);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  outline: 0;
  font-family: Amatic SC;
  font-size: 1.7rem;
  letter-spacing: -0.05em;
}

.generator:hover {
  background-color: rgba(255, 199, 88, 0.818);
  box-shadow: rgba(255, 255, 255, 0.681) 0px 0px 5px 0px, rgba(255, 255, 255, 0.755) 0px 0px 1px 0px;
  color: white;
}

.cat {
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 6px 6px 1px 1px #000000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cat img {
  object-fit: cover;
  height: 80%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  text-align: center;
  font-family: Amatic SC;
  letter-spacing: 0.1em;
  font-size: 1.1rem;
}

.infos {
  height: 5rem;
  width: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-box-shadow: 6px 6px 1px 1px #000000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
  font-family: Amatic SC;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  text-decoration: underline dotted;
  color: black;
  font-family: Amatic SC;
}

a:visited {
  color: black;
}

/*# sourceMappingURL=style.css.map */
